* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p1 {
    font-size: 9vh;
    line-height: 100%;
    font-weight: bold;
}

h2{
    font-size: 200%;
}
.header {
    height: 14vh;
    display: flex;
    justify-content: space-between;
}


  
  
.logo {
    height: 10vh;
    padding: 15px;
}

.header ul {
    display: flex;
    justify-content: space-around;
}

.header li {
    display:block;
    padding: 10px;
    margin-top: 8px;
    font-size: large;
}
li:hover{
    cursor: pointer;
}

.header ul li:nth-child(2):hover {
    color: rgb(79 181 185);
}
.header ul li:nth-child(3):hover {
    color: rgb(79 181 185);
}


.contact-btn {
    height: 8vh;
    width: 150px;
    margin: 10px;
    margin: 20px 5px 8px;
    background-color: rgb(79 181 185);
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 4px;
border: none;
}

.contact-btn2 {
    height: 8vh;
    width: 180px;
    margin-top: 30px;
    background-color: rgb(79 181 185);
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 4px;
    border: none;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
    padding-right: 5px;
    padding-top: 20px;
    margin-top: 6px;
}

.container1 {
    background-image: url(https://sattu-pharma-tech-web.vercel.app/assets/HeroImage.png);
    background-repeat: no-repeat;
  /* padding: 60px; */
  background-size: 1250px 485px;
  height: auto;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.container1-inner {
    margin-right: 45%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.container1-inner2 {
    height: 15vh;
    width: 85%;
    /* margin-left: 20px; */
    margin-left: 90px;
    display: flex;
    justify-content: center;
    padding-top: 14px ;
    background-color: bisque;
    border-radius: 8px;
    font-size: 120%;
}

.container2 {
    height: auto;
    padding-right: 460px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container3 {
    /* border: 1px solid red; */
    height: auto;
    width: auto;
}
.container3-cards {
    height: auto;
    padding-top: 50px;
    width: auto;
    display: flex;
    flex-direction: row; 
     justify-content: space-between;
     align-items: center;
justify-content: center;
     /* border: 1px solid purple; */
     flex-wrap: wrap;
     gap: 13px;
}
.card {
    height: 35vh;
    width: 380px;
    border: 2px solid gainsboro;
    border-radius: 6px;
    /* padding: 10px; */
}
p3 {
margin-left: 15px;
padding-top: 30px;
font-size: 150%;
font-weight: bold;
}

p4 {
    padding-top: 30px;
    /* margin-left: 1100px; */
}


.hr {
    border: 3px solid cadetblue; 
    width: 60px;
    margin: 12px;
    margin-left: 15px;
}

.container4 {
    /* border: 1px solid red; */
    margin-bottom: 20px;
}
.container5 {
    height: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 60% 40%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;

}

/* .con5-inner{
    border: 1px solid green;
} */

.container5-inner {
    /* height: auto;
    width: auto; */
    /* border: 1px solid blue; */
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.container5-inner p5 {
    color: cadetblue;
}

p5{
    font-size: 150%;
    font-weight: bold;
    padding-bottom: 10px;
}

p6{
    padding-bottom: 10px;

}

.container6 {
    height: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 40% 60%;
    flex-direction: row;
    margin-top: 30px;
}

.container6-inner p5 {
    color: cadetblue;
}


.container6-inner {
    height: auto;
    /* border: 1px solid blue; */
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.container7 {
    height: auto;
    /* border: 1px solid red; */
    margin-top: 100px;
}

.container7-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
padding: 20px;
justify-content: space-around;
gap: 20px;
}

.card-7 {
    height: 35vh;
    width: 550px;
    border: 1px solid yellow;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(253, 248, 224);
    border-radius: 10px;
}

.card7-in {
    height: 10vh;
    width: 70px;
    border: 2px solid rgb(248, 248, 121);
    border-radius: 10px;
    padding: 10px;
    padding-right: 10px;
    background-color: white;
    /* padding-left: 30px;
    padding-top: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container8 {
    height: auto;
    /* border: 1px solid red; */
    text-align: right;
    width: auto;
    margin-top: 70px;
    margin-bottom: 50px;
}

.container9 {
    height: auto;
    border: 1px solid gray;
    border-radius: 6px;
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: 50% 50%;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgb(252 252 252);
}

.container9-inner {
    height: auto;
    /* border: 1px solid green; */
  display: flex;
  flex-wrap: wrap;
  /* width: 580px; */
  gap: 5px;
    
}

input[type=text] {
    /* width: 280px; */
    width: 95%;
    padding: 12px 10px;
    /* margin: 8px 0; */
    box-sizing: border-box;
  }

  .container9-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  

  .btn2 {
    border: rgb(91, 194, 158);
    height: 8vh;
    width: 580px;
    margin-top: 30px;  
    background-color: rgb(91, 194, 158);
    border-radius: 8px;
}

.footer {
    height: auto;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    margin-top: 70px;
}

.footer-inner1 {
    /* border: 1px solid pink; */
    height: auto;
    /* width: 620px; */
    padding-top: 10px;
    padding-right: 10px;

}
.footer-inner1 p {
    color: gray;
}


.footer-inner2 {
display: flex;


}

.foot li {
    display:block;
    padding: 5px;
    margin-top: 0;
    font-size: large;
}

.foot ul li {
    font-size: small;
    color: gray;
}

.foot ul li:first-child {
    font-size: 15px;
    font-weight: bold;
}

.end {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: gray;
}

/* .footer-inner2 > ul {
    d
} */

/* .header ul {
    display: none;
} */
.header ul1 {
    display: none;
}

input[type="checkbox"] {
    display: none;
  }

@media (max-width: 768px) {

    
    input[type="checkbox"] {
        display: none;
      }
      .hamburger:checked + ul1 {
        display: block;
      
      }
      :checked + ul1 {
        display: block;
      position: absolute;
      right: 20px;
      top: 86px;
      background-color: white;
      padding: 10px;
      }
      
      
    /* .header ul {
        display: none; */
      
       /* .header li {
          padding: 5px;
          background-color: #ccc;
          border-bottom: 1px solid #fff;
        } */
      /* } */
    
      /* input[type="checkbox"] {
        display: none;
      }
      :checked + .header ul:nth-child(2) {
        display: block;
      } */

 .hamburger {
    display: block;
 }

 .header ul, .contact-btn {
    display: none;
 }

 .container1-inner {
    margin: auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
 }

 .container1-inner p1 {
    font-size: 5vh;
    line-height: 100%;
    font-weight: bold; 
    text-align: center;
}

.hr {
    /* margin-left: auto; */
    justify-content: center;
}

.btn2 {
    margin-bottom: 30px;
    width: 100%;
}

.line {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
    #text1{
        display: none;
    }

    .container1-inner2 {
        margin: auto;
        padding-top: 10px;
        margin-top: 40px;
        height: auto;
        padding-left: 10px;
    }

    .container2 {
        padding-right: 10px;

        padding-left: 20px;
        width: auto;
    }

    .card{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
        padding-right: 10px;
    }
    .container3{
        width: 100%;
    }
    .con3-head {
        margin-left: 20px;
    }
    .container3-cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        /* margin-left: 20px; */
    }

    .container5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;

        
    }

    .container5-inner {
          width: auto;
          height: auto;
    }

    .con5-inner {
        width: auto;
        height: auto;
    }

    #img1 {
         /* height: 30vh; */
         width: 100%;
    }

    .container6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-7 {
        height: auto;
        width: auto;
    }
    .container9 {
        display: flex;
        flex-direction: column;
    }

    .container9-inner {
        display: flex;
        flex-direction: column;
    }

    #img2 {
        /* height: 30vh; */
        display: none;
    }
    .footer {
        flex-wrap: wrap;
        display: block;

    }

    .footer-inner2{
        flex-wrap: wrap;
    }
}

@media (max-width: 1030px) {

    /* .container3-cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px; */
        /* margin-left: 10px;
        justify-content: center;
    } */
#img2 {
    display: none;
}

.container9 {
    justify-content: center;
}

}

@media (max-width: 330px) {


    .card-7{
        width: auto;
    }
}

@media (max-width: 340px) {
    input[type=text] {
        width: 100%;
        /* padding: 12px 10px;
        /* margin: 8px 0; */
        /* box-sizing: border-box; */ 
      }
}
/* echo "# Task-HTML-CSS" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/DevanshRimza24/Task-HTML-CSS.git
git push -u origin main */



/* git remote add origin https://github.com/DevanshRimza24/Task-HTML-CSS.git
git branch -M main
git push -u origin main */